.App {
  text-align: center;
  height: 152px;
  width: 152px;
  border: 1px solid black;
  margin: 50px auto;
}

.ttt-grid{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  height: 50px;
  width: 50px;
  border: 0.5px solid black;
  float: left;
  box-sizing: border-box;
  padding: 0;
  line-height: 34px;
  
}

.gameInfo{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.gameWin{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: red;
}

.gameReset{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 50px auto;
}